<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pytap.generator.dao.EsOrderReturnMapper">
  <resultMap id="BaseResultMap" type="com.pytap.generator.entity.EsOrderReturn">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="handler_id" jdbcType="BIGINT" property="handlerId" />
    <result column="member_address_id" jdbcType="BIGINT" property="memberAddressId" />
    <result column="shop_address_id" jdbcType="BIGINT" property="shopAddressId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="handle_time" jdbcType="TIMESTAMP" property="handleTime" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="certificate_image" jdbcType="VARCHAR" property="certificateImage" />
    <result column="handle_note" jdbcType="VARCHAR" property="handleNote" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, member_id, order_id, handler_id, member_address_id, shop_address_id, status, 
    handle_time, reason, description, certificate_image, handle_note, update_time, create_time
  </sql>
  <select id="selectByExample" parameterType="com.pytap.generator.entity.EsOrderReturnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from es_order_return
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from es_order_return
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from es_order_return
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pytap.generator.entity.EsOrderReturnExample">
    delete from es_order_return
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pytap.generator.entity.EsOrderReturn">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into es_order_return (member_id, order_id, handler_id, 
      member_address_id, shop_address_id, status, 
      handle_time, reason, description, 
      certificate_image, handle_note, update_time, 
      create_time)
    values (#{memberId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{handlerId,jdbcType=BIGINT}, 
      #{memberAddressId,jdbcType=BIGINT}, #{shopAddressId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{handleTime,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{certificateImage,jdbcType=VARCHAR}, #{handleNote,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pytap.generator.entity.EsOrderReturn">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into es_order_return
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        member_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="memberAddressId != null">
        member_address_id,
      </if>
      <if test="shopAddressId != null">
        shop_address_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="handleTime != null">
        handle_time,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="certificateImage != null">
        certificate_image,
      </if>
      <if test="handleNote != null">
        handle_note,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="handlerId != null">
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="memberAddressId != null">
        #{memberAddressId,jdbcType=BIGINT},
      </if>
      <if test="shopAddressId != null">
        #{shopAddressId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null">
        #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="certificateImage != null">
        #{certificateImage,jdbcType=VARCHAR},
      </if>
      <if test="handleNote != null">
        #{handleNote,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pytap.generator.entity.EsOrderReturnExample" resultType="java.lang.Integer">
    select count(*) from es_order_return
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update es_order_return
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.handlerId != null">
        handler_id = #{record.handlerId,jdbcType=BIGINT},
      </if>
      <if test="record.memberAddressId != null">
        member_address_id = #{record.memberAddressId,jdbcType=BIGINT},
      </if>
      <if test="record.shopAddressId != null">
        shop_address_id = #{record.shopAddressId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.handleTime != null">
        handle_time = #{record.handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reason != null">
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateImage != null">
        certificate_image = #{record.certificateImage,jdbcType=VARCHAR},
      </if>
      <if test="record.handleNote != null">
        handle_note = #{record.handleNote,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update es_order_return
    set id = #{record.id,jdbcType=BIGINT},
      member_id = #{record.memberId,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      handler_id = #{record.handlerId,jdbcType=BIGINT},
      member_address_id = #{record.memberAddressId,jdbcType=BIGINT},
      shop_address_id = #{record.shopAddressId,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      handle_time = #{record.handleTime,jdbcType=TIMESTAMP},
      reason = #{record.reason,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      certificate_image = #{record.certificateImage,jdbcType=VARCHAR},
      handle_note = #{record.handleNote,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pytap.generator.entity.EsOrderReturn">
    update es_order_return
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="handlerId != null">
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="memberAddressId != null">
        member_address_id = #{memberAddressId,jdbcType=BIGINT},
      </if>
      <if test="shopAddressId != null">
        shop_address_id = #{shopAddressId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null">
        handle_time = #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="certificateImage != null">
        certificate_image = #{certificateImage,jdbcType=VARCHAR},
      </if>
      <if test="handleNote != null">
        handle_note = #{handleNote,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pytap.generator.entity.EsOrderReturn">
    update es_order_return
    set member_id = #{memberId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      handler_id = #{handlerId,jdbcType=BIGINT},
      member_address_id = #{memberAddressId,jdbcType=BIGINT},
      shop_address_id = #{shopAddressId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      handle_time = #{handleTime,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      certificate_image = #{certificateImage,jdbcType=VARCHAR},
      handle_note = #{handleNote,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>